.navbar{
    /* height: 50px; */
    background-color: rgba(0, 0, 0, 0.37);
}
#tabparent img{
    /* height: 40px; */
    background-image: "assets/blank.jpg";
    src: "assets/blank.jpg";
}
body{
    background-color: rgb(75, 75, 75);
}
#tabparent{
    padding: 10px;
    background-color: rgb(36, 36, 36);
}