.text-header {
    font-family: "Montserrat", sans-serif;
}
.navbar{
    background-color: #16181A;
}
a{
    text-decoration: none;
}
.social-links{
    background-color: #00000018;
}
body{
    background-color: #383D40;
}
#tabparent{
    padding: 10px;
    background-color: #16181A;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 991px) {
    #mrmime{
        visibility: hidden;
    }
    /* .navbar{
        visibility: hidden;
    } */
}
@media (max-width: 768px) {
    /* .navbar{
        visibility: hidden;
    }    */ 
}