img {
    height: 50px;
    background-image: "assets/blank.jpg";
    src: "assets/blank.jpg";
}
body{
    background-color: rgb(29, 29, 29);
}
.b1{
   background-image: "assets/1.jpg"; 
}
.b2{
   background-image: "assets/1.jpg"; 
}
.b3{
   background-image: "assets/1.jpg"; 
}
.b4{
   background-image: "assets/1.jpg"; 
}
